
<div id="ads">

{{#if messages}}
    <div class="alert alert-danger">
      {{ messages }}
    </div>
{{/if}}
  {{#each ads}}
  
  <div class="well"><a href="/ads/details/{{id}}">{{title}}</a> for {{ price }} posted on  {{postdate}}</div>
  
  {{/each}}
</div>
