

{{# each ad}}
<div class="panel panel-default">
<div class="panel-heading"><a href="/ads/details/{{_id}}">{{title}}</a></div>
 	<div class="panel-body">
	{{category}}, {{price}}, {{owner}} 
	{{desc}} 
	</div> 
</div>
{{/each}}

